@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    #loginimg {
        width: 100%;
        height: auto;
    }
    #img1{
        padding: 6px;
        border-radius: 40px;
    }
    #landing{
        width: 95%;
    }
}