@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.work-sans-1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 83.33%;
  margin-right: auto;
  margin-left: auto;
}

main {
  height: 100vh;
}
